init:
  - git config --global core.autocrlf true
environment:
  matrix:
    - nodejs_version: "2.0.2"
    - nodejs_version: "2.3.4"
platform:
  - x86
install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - npm install
build: off
test_script:
  - node --version
  - npm --version
  - npm run test-ci
version: "{build}"
